# Arch Linx
BraveSoftware/
JetBrains/
discord/
VSCodium/
spotify/
spicetify/
obs-studio/
cef_user**/
.oh-my-zsh/
.oh-my-zsh/**
Code**/**
/zsh/.zscomp**
/zsh/.zsh_sessions**
google-chrome/
chromium/
Microsoft/
Postman/
teams/
menus/
xfce4/
dconf/
zsh/.zshcompdum*
obsidian/
streamlink-twitch-gui/
twitch-cli/

