@import './themes/mocha.css';

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "JetBrainsMono", "BerkeleyMono Nerd Font Mono", sans-serif;
    font-size: 12px;
    border: none;
    border-radius: 0px;
    padding: 0;
    margin: 0;
    /* border-radius: 15px; */
}

window#waybar {
    /*background: transparent;*/
    /* background-color: @crust; */
    background-color: @base;
    /*border-bottom: 1px solid @text;*/
    /*border: 1px solid @mantle;*/
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
    background: @base;
    /* margin: 2px 1px 3px 1px; */
    padding: 0px 0px;
    border:0px;
    font-weight: bold;
    font-style: normal;
    opacity:0.8;
    color:@text;
}

#workspaces button {
    /* padding: 1px 9px; */
    padding: 0px 0px;
    /* margin: 3px 3px; */
    border:0px;
    color: @subtext1;
    background-color: @base;
    transition: all 0.3s ease-in-out;
    opacity:0.4;
}

#workspaces button.active {
    color: @pink;
    background: @surface0;
    /* min-width: 40px; */
    /* transition: all 0.3s ease-in-out; */
    opacity:1.0;
}

#workspaces button:hover {
    color: @pink;
    background: @surface0;
    opacity:0.7;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    background-color: @surface0;
    opacity:0.8;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: @text;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    /* background: @base; */
    /* margin: 5px 15px 5px 0px; */
    /* padding: 2px 10px 0px 10px; */
    color:@subtext0;
    font-weight:normal;
    opacity:0.8;
}

window#waybar.empty #window {
    background-color:transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    /* background: @color11; */
    /* background: @surface0; */
    /* margin: 3px 15px 3px 15px; */
    margin-left: 15px;
    margin-right: 15px;
    /* padding:0px; */
    padding: 2px 3px 1px 3px;
    font-weight: normal;
    font-style: normal;
    opacity:0.8;
    /* border: 1px solid @surface2; */
}

#taskbar button {
    margin:0;
    padding: 0px 5px 0px 5px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-brave, #custom-outlook, #custom-filemanager, #custom-teams, #custom-chatgpt, #custom-calculator, #custom-windowsvm, #custom-cliphist, #custom-wallpaper {
    /* margin-right:20px; */
    font-weight:bold;
    opacity:0.8;
    color:@text;
}

#custom-wallpaper {
    margin-right:23px;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-archlogo {
  font-size: 24px;
  margin: 0px;
  padding-left: 20px;
}


#custom-appmenu {
    /* background-color: @base; */
    color: @text;
    /* padding: 0px 10px 0px 10px; */
    /* margin: 3px 15px 3px 14px; */
    opacity:0.8;
    border: 1px solid @surface2;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 0px 15px 0px 0px;
    padding:0px;
    color:#FFFFFF;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
    background-color: #FFFFFF;
    color: @background;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.8;
    border: 1px solid @surface2;
}

#custom-updates.green {
    background-color: #FFFFFF;
}

#custom-updates.yellow {
    background-color: #ff9a3c;
    color: #ffffff;
}

#custom-updates.red {
    background-color: #dc2f2f;
    color: #ffffff;
}

/* -----------------------------------------------------
 * Custom Youtube
 * ----------------------------------------------------- */

#custom-youtube {
    background-color: #FFFFFF;
    color: @background;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity:0.8;
    border: 1px solid @surface2;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,#memory,#cpu {
    background-color: @base;
    color:@text;
}

#cpu {
    /* border-radius: 10px 0px 0px 10px; */
    /* padding: 2px 0px 0px 10px; */
    /* margin: 5px 0px 5px 0px; */
    padding: 0px 0px 0px 0px;
    opacity:0.8;
}
#memory {
    /* border-radius: 0px 10px 10px 0px; */
    /* padding: 2px 2px 0px 0px; */
    /* margin: 5px 15px 5px 0px; */
    /* padding: 0px 20px; */
    opacity:0.8;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    /* padding: 1px 10px 0px 10px; */
    /* margin: 3px 15px 3px 0px; */
    /* padding: 0px 20px; */
    opacity:0.8;
    /*border: 1px solid @surface2;*/
    /* border-radius: 10px; */
    background-color: @base;
    color: @text;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */



#pulseaudio {
    background-color: @base;
    color: @text;
    /* padding: 2px 10px 0px 10px; */
    /* margin: 5px 15px 5px 0px; */
    /* padding: 0px 20px; */
    opacity:0.8;
    /* border: 1px solid @surface2; */
    /* border-radius: 10px; */
}

#pulseaudio.muted {
    background-color: @color11;
    color: @text;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background-color: @base;
    color: @text;
    /* padding: 2px 10px 0px 10px; */
    padding: 0px 10px;
    /* margin: 3px 10px 3px 0px; */
    opacity:0.8;
    /* border: 1px solid @surface2; */
    /* border-radius: 10px; */
}

#network.ethernet {
    background-color: @base;
    color: @text;
}

#network.wifi {
    background-color: @base;
    color: @text;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth.on, #bluetooth.connected {
    background-color: @base;
    color: @text;
    font-size: 16px;
    /* color: @text; */
    /* border-radius: 10px; */
    /* padding: 2px 10px 0px 10px; */
    /* margin: 5px 15px 5px 0px; */
    padding: 0px 10px;
    opacity:0.8;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    background-color: @base;
    color: @text;
    /* border-radius: 10px; */
    /* padding: 2px 15px 0px 10px; */
    /* margin: 5px 15px 5px 0px; */
    padding: 0px 5px;
    /* margin: 0px 5px; */
    opacity:0.8;
}

#battery.charging, #battery.plugged {
    color: @text;
    background-color: @base;
}

@keyframes blink {
    to {
        background-color: @base;
        color: @text;
    }
}

#battery.critical:not(.charging) {
    background-color: @base;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#custom-swaync{
    padding: 1px 10px 0px 10px;
    /* margin: 3px 15px 3px 0px; */
    opacity:0.8;
    /*border: 1px solid @surface2;*/
    /* border-radius: 10px; */
    background-color: @base;
    color: @text;
}







